{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new Role</h1>

    {{ include('roles/_form.html.twig') }}

    <a href="{{ path('app_roles_index') }}">back to list</a>
{% endblock %}
