{{ form_start(form) }}
     <div class="row mb-3">
        <div class="form-floating mb-3 mb-md-0">{{ form_widget(form.Nom, {'attr':{'class':"form-control"}}) }}
                <label for="inputFirstName">Nom Categorie</label>
        </div>
     </div>
        <div class="mt-4 mb-0">
            <div class="d-grid">
    <button id="valid" class="btn btn-primary btn-block" type="submit">{{ button_label|default('Ajouter') }}</button>
        </div>
        </div>
{{ form_end(form) }}
